.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navbar-title{
    position: relative;
    
}

.navbar-title p{
    font-size: 60px;
    font-weight: 500;
    font-style: emblema one;
}

.navbar-title img{
    position: absolute;
    transform: rotate(6deg);
    width: 120px;
    height: 60px;
    bottom: -10px;
    right: -40px;
    z-index: -1;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%,  #B923E1 102.06%);
    font-size:22px ;
    transition: .5s;
    cursor: pointer;
}

.nav-connect:hover{
    transform: scale(1.05);
}